<!DOCTYPE html>
<html ng-app="textInput">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
		<script>
		var app = angular.module('textInput', [])
				app.controller('inputController', function($scope) {
				$scope.genders = 1;
				$scope.visible = '';
				$scope.display = 'input';
				$scope.change = function () { $scope.visible = 'visible';
																			$scope.display = 'output';}
				$scope.reload = function () { location.reload();}
			});
	
</script>
	</head>
	
	<body ng-controller="inputController">
		<img class="happyFace" src="images/mad-lib-happy-face.png">
		<div class="img_with_text">
			<img class="ngLogo" src="images/ng-mad-libs-logo.png">
			<h1>Automate This!</h1>
		</div>
		<div class="input" ng-show="display=='input'">
			<h2>Provide the following words:</h2>
			<table>
				<label>
					<input type="radio" name="male" value="1" ng-model="genders" required>male</label>
					<input type="radio" name="female" value="2" ng-model="genders" required>female</label>
				</label>
				<tr>
					<td ng-show="genders=='1'">male</td>
					<td><input ng-show="genders == '1'" type="text" ng-model="female" placeholder="male" class="blue" required></td>
				</tr>
				<tr>
					<td ng-show="genders=='2'">female</td>
					<td><input ng-show="genders=='2'" type="text" ng-model="female" placeholder="female" class="blue" required></td>
				</tr>
				<tr>
					<td>job</td>
					<td><input type="text" ng-model="job" placeholder="job title" class="red" required></td>
				</tr>
				<tr>
					<td>tedious task</td>
					<td><input type="text" ng-model="tedious_task" placeholder="tedious task" class="orange" required></td>
				</tr>
				<tr>
					<td>dirty task</td>
					<td><input type="text" ng-model="dirty_task" placeholder="dirty task" class="brown" required></td>
				</tr>
				<tr>
					<td>celebrity</td>
					<td><input type="text" ng-model="celebrity" placeholder="celebrity" class="green" required></td>
				</tr>
				<tr>
					<td>skill</td>
					<td><input type="text" ng-model="skill" placeholder="skill" class="purple" required></td>
				</tr>
				<tr>
					<td>number</td>
					<td><input type="text" ng-model="number" placeholder="number" class="yellow" required></td>
				</tr>
				<tr>
					<td>obnoxious</td>
					<td><input type="text" ng-model="obnoxious" placeholder="obnoxious" class="pink" required></td>
				</tr>
				<tr>
					<td>adjective</td>
					<td><input type="text" ng-model="adjective" placeholder="adjective" class="grey" required></td>
				</tr>
				</table>
				<button input="text" ng-click="change()" required>MadLib this</button>
		</div>

		<div class="text_output_{{ visible }}" ng-if="genders=='2'" ng-show="display=='output'">
			<p><span class="blue">{ {{female}} }</span> was a <span class="red">{ {{job}} }</span> who loved technology. Although she loved parts of her job, she absolutely hated<span class="orange">{ {{tedious_task}} }</span> and <span class="brown">{ {{dirty_task}} }</span >. So, <span class="blue">{ {{female}} }</span> met with her life mentor <span class="green" >{ {{celebrity}} }</span> who told her to learn <br> <span class="purple">{ {{skill}} }</span> with Thinkful. Thinkful didn't offer a course on <span class="purple">{ {{skill}} }</span> so she studied programming instead. What a great decision! With her new skills, <span class="blue">{ {{female}} }</span> built a(n) <span class="grey">{ {{adjective}} }</span> robot named <br> <span class="pink">{ {{obnoxious}} }</span> that not only loved <span class="orange">{ {{ dirty_task }} }</span> but did it <span class="yellow">{ {{ number}} }</span> times faster.</p>
			<button input="text" class="reloadButton" ng-click="reload()">Reload</button>
		</div>

		<div class="text_output_{{ visible }}" ng-if="genders=='1'" ng-show="display=='output'">
			<p><span class="blue">{ {{female}} }</span> was a <span class="red">{ {{job}} }</span> who loved technology. Although he loved parts of his job, he absolutely hated<span class="orange">{ {{tedious_task}} }</span> and <span class="brown">{ {{dirty_task}} }</span >. So, <span class="blue">{ {{female}} }</span> met with his life mentor <span class="green" >{ {{celebrity}} }</span> who told him to learn <br> <span class="purple">{ {{skill}} }</span> with Thinkful. Thinkful didn't offer a course on <span class="purple">{ {{skill}} }</span> so he studied programming instead. What a great decision! With his new skills, <span class="blue">{ {{female}} }</span> built a(n) <span class="grey">{ {{adjective}} }</span> robot named <br> <span class="pink">{ {{obnoxious}} }</span> that not only loved <span class="orange">{ {{ dirty_task }} }</span> but did it <span class="yellow">{ {{ number}} }</span> times faster.</p>
			<button input="text" class="reloadButton" ng-click="reload()">Reload</button>
		</div>

	 
	</body>
</html>