
.ngLogo {
	position: relative;
	left: 779px;
	top: -285px;
	margin: 0px;
	margin-right: 100px;
	border-style: solid;
	padding: 30px;
	padding-left: 200px;
	padding-right: 899px;
	padding-top: 67px;
	padding-bottom: 101px;
}

.happyFace {
	position: relative;
	left: -85px;
	top: 0;
	margin: -9px;
	border-style: solid;
	padding: 41px;
	padding-left: 437px;
	padding-right: 232px;
}

h1 {
	position: relative;
	right: -1100px;
	top: -400px;
}

.input {
	position: relative;
	top: -371px;
	left: -8px;
	width: 1200px;
	height: 600px;
	border-style: solid;
	margin-right: -464px;
	padding-left: 225px;
	padding-top: 90px;
	padding-bottom: 100px;
}

.text_output_visible {
	position: relative;
	opacity: 1;
	left: 500px;
	bottom: 250px;
	width: 700px;
	height: 500px;
}

.text_output_ {
	opacity: 0;
	position: absolute;
	transition: all 1s;
}

.reloadButton {
	position: absolute;
	right: 0;
}
.blue {
	color: blue;
}

.red {
	color: red;
}

.grey {
	color: grey;
}

.pink {
	color: pink;
}

.orange {
	color: orange;
}

.brown {
	color: brown;
}

.yellow {
	color: #EE82EE;
}

.purple {
	color: purple;
}

.green {
	color: green;
}